.add{
    width: 200px;
    height: 70px;
    background: rgb(56, 50, 50);
    color: white;
    text-align: center;
    padding: 100px;
}


.multy{
    width: 200px;
    height: 70px;
    background: black;
    color: white;
    text-align: center;
    padding: 100px;
}

.addNumber{
    width: 200px;
    height: 70px;
    background: rgb(102, 58, 58);
    color: white;
    text-align: center;
    padding: 100px;
}